body{
  margin: auto 0;
}
#kennel{
  display: flex;
  flex-flow: row wrap;
  max-width: 750px;
}
.dog{
  flex-flow: row wrap;
  flex-basis: 200px;
  padding: 1em;
  justify-content: center;
  border: 1px solid black;
}